bin/
tmp/


# User-specific files
*.sln
*.userprefs
*.csproj

Properties/

# Build results

[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
[Oo]bj/

*.mdw
*.dgml

# Suibhne and Development specific directories
Configuration/*
Releases/*
Images/*
.gitattributes
Development/Extensions/*
Development/Libraries/
Wiki/
*.iml
Editor/
*.psd
Development/ExtensionInstaller/
