<?xml version="1.0" encoding="utf-8" ?>
<Configuration>
  <Events>
    <Section Name="User Events">
      <Field Label="User Joined" Type="Text" Key="userJoined" Default="user_joined" />
      <Field Label="User Left" Type="Text" Key="userLeft" Default="user_left" />
      <Field Label="User Quit" Type="Text" Key="userQuit" Default="user_quit" />
    </Section>

    <Section Name="Location Events">
      <Field Label="Topic Changed" Type="Text" Key="topicChanged" Default="topic_changed" />
    </Section>
  </Events>
  
  <Network>
    <Section Name="Host Settings">
      <Field Label="Hostname" Type="Text" Key="host" />
      <Field Label="Port Number" Type="Text" Key="port" />
      <Field Label="Use SSL? [WIP]" Type="Checkbox" Key="useSSL" />
      <Field Label="Server Password" Type="Password" Key="servPass" />
    </Section>

    <Section Name="Account Settings">
      <Field Label="Username" Type="text" Key="userName" />
      <Field Label="Nickname" Type="text" Key="displayName" />
      <Field Label="Real Name" Type="text" Key="realName" />
    </Section>

    
    <Section Name="Authentification">
      <Text>Authentification is used to identify with Nickserv or similar services on the network.</Text>
      <Field Label="Service" Type="Text" Key="serviceName" />    
      <Field Label="Password" Type="Password" Key="authPass" />
    </Section>
  </Network>

  <Location>
    <Section Name="Location">
      <Field Label="Name" Type="Text" Key="Name" />    
      <Field Label="Password" Type="Password" Key="Password" />
    </Section>
  </Location>
</Configuration>
